<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            <div>
                <a href="{{ path('home') }}">Juan Sosa</a>
            </div>
        </header>

        <main>
            <div>
            {% block body %}{% endblock %}
            </div>
        </main>

        <footer>
            <div>
                <section id="categories">
                    <header>
                        <h1>Categorías</h1>
                    </header>

                    {{ render(controller('App\\Controller\\ArticleController::categoryListFragment')) }}
                </section>

                <section id="tags">
                    <header>
                        <h1>Etiquetas</h1>
                    </header>

                    {{ render(controller('App\\Controller\\ArticleController::tagListFragment')) }}
                </section>
                <p>© 2020 Juan Sosa. <a title="Fable en github" href="https://github.com/dasouza/fable" target="_blank">Código fuente</a>. Contenidos bajo licencia <a rel="license" title="Creative Commons Atribución-NoComercial-CompartirIgual 4.0 Internacional" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.es" target="_blank">CC BY-NC-SA 4.0</a>.</p>
            </div>
        </footer>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
