{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
<article>
    <header>
        <h1>{{ article.title }}</h1>
    </header>

    {{ article.content|markdown }}

    <footer>
        <time>{{ article.created|format_date("long") }}</time>
        {% for tag in article.tags %}
            <a href="{{ path('article_tag_index', {"slug": tag.slug }) }}" rel="tag">#{{ tag.name|title|replace({' ': ''}) }}</a>
        {% endfor %}
    </footer>
</article>
{% endblock %}
